<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TopRatedMovies.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C4445FB2C55BEEE00EC814B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C4446112C55BEEF00EC814B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C44461B2C55BEEF00EC814B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
